.first {
	overflow:hidden;
	padding: 0;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	background-image: url(/images/back.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.navi {
	height: 18%;
	background:rgb(250,241,233,0.3);
}

.row {
	height: 100%;
}

.content {
	height: 82%;
}

.logophoto {
	padding-right: 0;
  background: linear-gradient(to bottom right, rgba(252,207,189,1) 0%, rgba(252,237,230,1) 51%, rgba(252,237,230,1) 100%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logophoto > img {
  width: 85%;
}

.navi-bar {
	padding-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
}

.link {
	color: #3F3F3F;
	outline: none;
}

.link:hover {
	text-decoration: none;
	color: black;
}

//login/SIGNUP

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

input {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
}
input[type="submit"] {
  cursor: pointer;
}
input::-webkit-input-placeholder {
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}
input:-ms-input-placeholder {
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}
input::-ms-input-placeholder {
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}
input::placeholder {
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}

/**
 * Bounce to the left side
 */
@-webkit-keyframes bounceLeft {
  0% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(-30px, -50%, 0);
            transform: translate3d(-30px, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
}
@keyframes bounceLeft {
  0% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(-30px, -50%, 0);
            transform: translate3d(-30px, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
}
/**
 * Bounce to the left side
 */
@-webkit-keyframes bounceRight {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
            transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
}
@keyframes bounceRight {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
            transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
}
/**
 * Show Sign Up form
 */
@-webkit-keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
/**
 * Page background
 */
.user {
	font-family: 'Nunito',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.user_options-container {
  position: relative;
  width: 80%;
}
.user_options-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.85);
  border-radius: 3px;
}

/**
 * Registered and Unregistered user box and text
 */
.user_options-registered,
.user_options-unregistered {
  width: 50%;
  padding: 75px 45px;
  color: #fff;
  font-weight: 300;
}

.user_registered-title,
.user_unregistered-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  line-height: 1em;
}

.user_unregistered-text,
.user_registered-text {
  font-size: 1.1rem;
  line-height: 1.4em;
}

.user_registered-login,
.user_unregistered-signup {
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 30px;
  color: #958E6B;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.2rem;
  transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #FAF1DF;
}
.user_registered-login:hover,
.user_unregistered-signup:hover {
  color: rgba(34, 34, 34, 0.85);
  background-color: #FCE2AE;
}

/**
 * Login and signup forms
 */
.user_options-forms {
  position: absolute;
  top: 50%;
  left: 30px;
  width: calc(50% - 30px);
  min-height: 450px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-transform: translate3d(100%, -50%, 0);
          transform: translate3d(100%, -50%, 0);
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.user_options-forms .user_forms-login {
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.user_options-forms .forms_title {
  margin-bottom: 45px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  color: #EAC67D;
  letter-spacing: 0.1rem;
}
.user_options-forms .forms_field:not(:last-of-type) {
  margin-bottom: 20px;
}
.user_options-forms .forms_field-input {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 6px 20px 6px 0;
  font-size: 1rem;
  font-weight: 300;
  color: gray;
  letter-spacing: 0.1rem;
  transition: border-color 0.2s ease-in-out;
}
.user_options-forms .forms_field-input:focus {
  border-color: gray;
}
.user_options-forms .forms_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.user_options-forms .forms_buttons-forgot {
    border-radius: 3px;
    padding: 10px 35px;
    font-size: 1rem;
    font-weight: 300;
  letter-spacing: 0.1rem;
  color: #99D4FE;
  outline: none;
  background-color: #D3ECFD;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.user_options-forms .forms_buttons-forgot:hover {
  color: #39A9F9;
  background-color: #ACDDFE;
}
.user_options-forms .forms_buttons-action {
  background-color: #F2D8A3;
  border-radius: 3px;
  padding: 10px 35px;
  font-size: 1rem;
  font-weight: 300;
  color: #958E6B;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.2s ease-in-out;
}
.user_options-forms .forms_buttons-action:hover {
  background-color: #E5C990;
}
.user_options-forms .user_forms-signup,
.user_options-forms .user_forms-login {
  position: absolute;
  top: 70px;
  left: 40px;
  width: calc(100% - 80px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.user_options-forms .user_forms-signup {
  -webkit-transform: translate3d(120px, 0, 0);
          transform: translate3d(120px, 0, 0);
}
.user_options-forms .user_forms-signup .forms_buttons {
  justify-content: flex-end;
}
.user_options-forms .user_forms-login {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

/**
 * Triggers
 */
.user_options-forms.bounceLeft {
  -webkit-animation: bounceLeft 1s forwards;
          animation: bounceLeft 1s forwards;
}
.user_options-forms.bounceLeft .user_forms-signup {
  -webkit-animation: showSignUp 1s forwards;
          animation: showSignUp 1s forwards;
}
.user_options-forms.bounceLeft .user_forms-login {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(-120px, 0, 0);
          transform: translate3d(-120px, 0, 0);
}
.user_options-forms.bounceRight {
  -webkit-animation: bounceRight 1s forwards;
          animation: bounceRight 1s forwards;
}

.mobilelogin {
  display: none !important;
}

/**
 * Responsive 990px
 */
@media screen and (max-width: 990px) {
  .user_options-forms {
    min-height: 350px;
  }
  .user_options-forms .forms_buttons {
    flex-direction: column;
  }
  .user_options-forms .user_forms-login .forms_buttons-action {
    margin-top: 30px;
  }
  .user_options-forms .user_forms-signup,
  .user_options-forms .user_forms-login {
    top: 40px;
  }

  .user_options-registered,
  .user_options-unregistered {
    padding: 50px 45px;
  }
}


@media only screen and (max-width: 600px) {
  .mobilelogin {
    display: initial !important;
    height: 80%;
    width: 90%;
    border: 2px solid #E4A689;
    background: rgb(0,0,0,0.7);
    border-radius: 1%;
  }

  .optionbtns {
    border-bottom: 2px solid #E4A689;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #loginbtn,#signupbtn{
      border:none;
    height: 70%;
    width: 45%;
    font-size: 25px;
    font-family: 'Novecento-Sans',sans-serif;
  }

  #loginbtn {
    background-color: #F9D4C3;
  }

  #signupbtn {
    color: #F9D4C3;
    background-color: transparent;
  }

  .login2,.signup2 {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logform,.signform {
    height: 80%;
    width: 95%;
    background: #F1F1F1;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }  

  .user_options-container {
    display: none !important;
  }

  .form-title {
    color: #EAC67D;
    letter-spacing: 0.1rem;
    font-size: 25px;
  }

  .logging {
    height: 90%;
    width: 95%;
    padding: 5%;
    margin: auto;
  }

  .signing {
    height: 98%;
    width: 95%;
    padding: 5%;
    margin: auto;
  }

  .form_field-input {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 6px 20px 6px 0;
    font-size: 1rem;
    font-weight: 300;
    color: gray;
    letter-spacing: 0.1rem;
    transition: border-color 0.2s ease-in-out;
  }

  .forms-check-input {
    margin-top: .3rem;
  }

  #form_buttons-forgot {
    border-radius: 3px;
    font-size: 14px;
    color: #99D4FE;
    outline: none;
    background-color: #D3ECFD;
    text-decoration: none;
  }

  #form_buttons-action,#form2_buttons-action {
    background-color: #F2D8A3;
    border-radius: 3px;
    padding: 6px 35px;
    font-size: 14px;
    color: #958E6B;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}